<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join Tournament</title>
</head>
<body>
  

    <form action="/tournaments/winOrLoss/<%= id %>" method="post">
   
    <label for="teams">Choose a team:</label>
    <% let teamIndex = 0; %>

    <select name="teams" id="teams">
      <option id="<%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %>" value="<%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %>"> <%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %></option>
      <%  teamIndex++ %>

      <option id="<%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %>" value="<%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %>"> <%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %></option>
      <%  teamIndex++ %>

      <option id="<%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %>" value="<%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %>"> <%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %></option>
      <%  teamIndex++ %>

      <option id="<%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %>" value="<%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %>"> <%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %></option>
      <%  teamIndex++ %>

      <option id="<%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %>" value="<%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %>"> <%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %></option>
      <%  teamIndex++ %>

      <option id="<%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %>" value="t6"> <%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %></option>
      <%  teamIndex++ %>

      <option id="<%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %>" value="t7"> <%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %></option>
      <%  teamIndex++ %>

      <option id="<%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %>" value="t8"> <%= Array.isArray(players) && players[teamIndex] ? players[teamIndex].team_name : 'Empty' %></option>
    </select>
   
    <p>Win or loss:</p>
      <input type="radio" id="win" name="winOrLoss" value="win">
      <label for="win">Win</label><br>
      <input type="radio" id="loss" name="winOrLoss" value="loss">
      <label for="loss">Loss</label><br>
     
  
    <input type="hidden" name="tournamentId" value="<%= id %>" />
   

    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/tournaments/view/<%= tournament._id %>" class="btn btn-warning">Cancel</a>
  </form>

</body>
</html>
