<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tournament Details</title>
</head>
<body>
  <h1>Tournament Details</h1>
  <h2><%= tournament.name %></h2>

  <p><strong>Game:</strong> <%= tournament.game %></p>
  <p><strong>Organizer:</strong> <%= tournament.organizer %></p>
  <p><strong>Start Date:</strong> <%= tournament.start_date %></p>
  <p><strong>End Date:</strong> <%= tournament.end_date %></p>
  <p><strong>Max Players:</strong> <%= tournament.max_players %></p>
  <p><strong>Description:</strong> <%= tournament.description %></p>
  <a href="/tournaments/list">Back to tournament list</a>
  <!-- Add the Join button -->
<a href="/tournaments/player/<%= tournament._id %>" class="btn btn-success">
    <i class="fas fa-user-plus"></i> Join Tournament
  </a>
  
</body>
</html>
